<ng-container *ngIf="loaded">
  <ng-container *ngIf="currentButton === 'ordemProducao'">
    <vs-button
      *isGranted="retrabalhoPolicies.GerarOdfRetrabalhoPolicy"
      [disabled]="disabled || disableGerarOdfRetrabalho"
      icon="wrench"
      label="NaoConformidades.GerarOdfRetrabalho"
      (clickEvent)="gerarOdfRetrabalho()"
    ></vs-button>
  </ng-container>

  <ng-container *ngIf="currentButton === 'estornoOrdemProducao'">
    <vs-button
      *isGranted="retrabalhoPolicies.EstornarOdfRetrabalhoPolicy"
      [disabled]="disabled || !canEstornarOdfRetrabalho"
      icon="undo"
      label="NaoConformidades.EstornarOdfRetrabalho"
      (clickEvent)="estornarOdfRetrabalho()"
    ></vs-button>
  </ng-container>

  <ng-container *ngIf="currentButton === 'operacao'">
    <vs-button
      *isGranted="retrabalhoPolicies.GerarOperacaoRetrabalhoPolicy"
      [disabled]="disabled || disableGerarOperacaoRetrabalho"
      icon="wrench"
      label="NaoConformidades.GerarOperacaoRetrabalho"
      (clickEvent)="gerarOperacaoRetrabalho()"
    ></vs-button>
  </ng-container>
</ng-container>


