<vs-layout>
  <vs-label title label="NaoConformidade.CausasModal.Title"></vs-label>
  <div actions>
    <vs-button [icon]="'times'" (clickEvent)="fechar()"></vs-button>
  </div>
  <div content>
    <vs-form *ngIf="loaded">
      <form [formGroup]="form" group-1>
        <qa-causa-autocomplete-select
          [formControlName]="formControls.idCausa"
          required="true"
          placeholder="NaoConformidade.CausasModal.Causas"
          (ngModelChange)="completaCadastro($event)"
        ></qa-causa-autocomplete-select>
        <vs-textarea
          [rows]="5"
          [formControlName]="formControls.detalhamento"
          placeholder="NaoConformidade.CausasModal.Detalhamento"
        ></vs-textarea>
        <rnc-centro-custo-autocomplete-chips
          [formControlName]="formControls.idsCentrosCustos"
          placeholder="NaoConformidade.CausasModal.CentroCusto"
          [isOnlyAnaliticos]="true"
        ></rnc-centro-custo-autocomplete-chips>
      </form>
    </vs-form>
  </div>
  <div footer>
    <vs-button type="save" label="NaoConformidade.CausasModal.Salvar" [disabled]="!canSave()" (clickEvent)="save()"
    ></vs-button>
    <div fxFlex="auto" *ngIf="processando">
      <vs-spinner diameter="25"></vs-spinner>
    </div>
  </div>
</vs-layout>


