<vs-tabs-view-template>
  <mat-tab-group>
    <mat-tab *isGranted="Policy.preCadastrosCalcos">
      <ng-template mat-tab-label>
        <vs-label label="ControleTratamentoTermico.Navigation.PreCadastros.Calco"></vs-label>
      </ng-template>
      <ng-template matTabContent>
        <app-pre-cadastro-ctt-generic id="df8fea36-bfb8-402a-99a7-55b55eaa8ebe" preCadastroType="calco" />
      </ng-template>
    </mat-tab>
    <mat-tab *isGranted="Policy.preCadastrosParametros">
      <ng-template mat-tab-label>
        <vs-label label="ControleTratamentoTermico.Navigation.PreCadastros.Parametro"></vs-label>
      </ng-template>
      <ng-template matTabContent>
        <app-pre-cadastro-ctt-generic id="cb58c3aa-d92e-4ec9-b816-26202a68eb44" preCadastroType="parametro" />
      </ng-template>
    </mat-tab>
    <mat-tab *isGranted="Policy.preCadastrosTiposTratamento">
      <ng-template mat-tab-label>
        <vs-label label="ControleTratamentoTermico.Navigation.PreCadastros.TipoTratamento"></vs-label>
      </ng-template>
      <ng-template matTabContent>
        <app-pre-cadastro-ctt-generic id="fcbec226-1387-4adc-b902-05e6b311b686" preCadastroType="tipoTratamento" />
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</vs-tabs-view-template>