:host {
  max-height: 100%;

  ::ng-deep {
    mat-tab-group {
      overflow: auto;
      height: 100%;
      width: 100%;
      flex: auto;

      > div {
        height: 100%;
        width: 100%;
      }
    }

    vs-label {
      width: fit-content;
      font-size: 12px;
    }

    .mat-mdc-tab-label-container {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }
}
