<vs-tabs-view-template>
  <vs-layout>
    <div content>
      <vs-form>
        <form [formGroup]="naoConformidadeForm">
          <br group-3>
          <vs-input
            [formControlName]="formControls.numeroPedido"
            placeholder="NaoConformidades.NaoConformidadesEditor.PedidoVenda.NumeroPedido"
            [readonly]="true"
          ></vs-input>
          <qa-produto-autocomplete-select
            [formControlName]="formControls.idProdutoFaturamento"
            placeholder="NaoConformidades.NaoConformidadesEditor.PedidoVenda.ProdutoFaturamento"
            [readonly]="true"
          ></qa-produto-autocomplete-select>
          <vs-input
            [formControlName]="formControls.numeroOdfFaturamento"
            type="number"
            placeholder="NaoConformidades.NaoConformidadesEditor.PedidoVenda.NumeroOdfFaturamento"
            [readonly]="true"
          ></vs-input>
        </form>
      </vs-form>
    </div>
  </vs-layout>
</vs-tabs-view-template>
