:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .fix-button{
    margin-left: auto;
  }

  ::ng-deep{
    vs-grid{
      flex: auto;
      min-height: 350px
    }
  }
}
