<vs-dialog>
  <vs-label title label="Solucao.ServicoEditor.Title"></vs-label>
  <div content>
    <vs-form *ngIf="loaded">
      <form [formGroup]="form" group-1>
        <qa-recurso-autocomplete-select
          [formControlName]="formControls.idRecurso"
          [placeholder]= "'Solucao.ServicoEditor.Recurso'"
          [required]="true">
        </qa-recurso-autocomplete-select>

        <vs-input
          [formControlName]="formControls.horas"
          placeholder="Solucao.ServicoEditor.HorasPrevistas"
        ></vs-input>
        <vs-input
          [formControlName]="formControls.minutos"
          placeholder="Solucao.ServicoEditor.MinutosPrevistos"
        ></vs-input>
        <vs-textarea
          [required]="true"
          [formControlName]="formControls.operacaoEngenharia"
          placeholder="Solucao.ServicoEditor.OpEngenharia"
          [rows]="5"
        ></vs-textarea>
      </form>
    </vs-form>
  </div>
  <div footer>
    <vs-button type="save" label="Solucao.ServicoEditor.Salvar" [disabled]="!canSave()" (clickEvent)="save()"
    ></vs-button>
  </div>
</vs-dialog>


