@use '@angular/material' as mat;
@use "@viasoft/theming/config" as config;
@import "@viasoft/theming/use-theme";
@import './angular-material';

@include useTheme();
@include mat.tabs-theme(config.$vs-theme);

p-table {
  width: 100%;
}

vs-tree-table p-treetable div.p-treetable div.p-treetable-wrapper {
  scrollbar-width: unset !important;
}

