<vs-dialog *ngIf="!isLoading">
  <vs-label title label="NaoConformidades.GerarOdfRetrabalhoModal.Title"></vs-label>
  <div content>
    <vs-form>
      <form [formGroup]="form" group-1>
        <vs-input
          [formControlName]="formControls.quantidade"
          placeholder="NaoConformidades.GerarOdfRetrabalhoModal.Quantidade"
          type="number"
          [required]="true"
        ></vs-input>
        <rnc-estoque-pedido-venda-estoque-local-select
          *ngIf="utilizarReservaDePedidoNaLocalizacaoDeEstoque"
          [formControlName]="formControls.idEstoqueLocalOrigem"
          [required]="true"
          placeholder="NaoConformidades.GerarOdfRetrabalhoModal.LoteEstoquelocalizaçãoOrigem"
          [idProduto]="idProduto"
          [numeroLote]="numeroLote"
          [numeroPedido]="numeroPedido"
          [numeroOdf]="numeroOdfDestino"
          [autoInputFirstOptionIfHasOnlyOne]="true"
          (loaded)="preencherSaldoLote($event);preencherQuantidade($event)"
          (selectCleaned)="estoquesLocaisSelectCleanedHandle()"
          (selected)="preencherSaldoLote($event);preencherQuantidade($event)">
        </rnc-estoque-pedido-venda-estoque-local-select>
        <rnc-estoque-local-select
          *ngIf="!utilizarReservaDePedidoNaLocalizacaoDeEstoque"
          [formControlName]="formControls.idEstoqueLocalOrigem"
          [required]="true"
          placeholder="NaoConformidades.GerarOdfRetrabalhoModal.LoteEstoquelocalizaçãoOrigem"
          [idProduto]="idProduto"
          [numeroLote]="numeroLote"
          [autoInputFirstOptionIfHasOnlyOne]="true"
          (loaded)="preencherSaldoLote($event);preencherQuantidade($event)"
          (selectCleaned)="estoquesLocaisSelectCleanedHandle()"
          (selected)="preencherSaldoLote($event);preencherQuantidade($event)">
        </rnc-estoque-local-select>

        <vs-input
          [formControlName]="formControls.saldoLote"
          placeholder="NaoConformidades.GerarOdfRetrabalhoModal.SaldoLote"
          type="number"
          [disabled]="true"
        ></vs-input>

        <rnc-locais-autocomplete-select
          [required]="true"
          [formControlName]="formControls.idLocalDestino"
          placeholder="NaoConformidades.GerarOdfRetrabalhoModal.LocalDestino"
          [tipoLocal]="localDestinoTipoLocalEnum.Retrabalho"
          [autoInputFirstOptionIfHasOnlyOne]="true"
        ></rnc-locais-autocomplete-select>
      </form>
    </vs-form>
  </div>
  <div footer>
    <vs-button
      [disabled]="!canSave"
      type="save"
      label="NaoConformidades.GerarOdfRetrabalhoModal.GerarOdf"
      (clickEvent)="gerarOdf()"
    ></vs-button>

    <vs-spinner *ngIf="processando" diameter="25"></vs-spinner>
  </div>
</vs-dialog>

