<vs-tabs-view-template>
    <div actions>
        <vs-button
            *ngIf="tratamentoTermicoCriarEditarTratamento"
            (clickEvent)="startCreateCabecalho()"
            model="icon"
            icon="plus"
            label="TratamentoTermico.Add"
        />
    </div>
    <div
        content
        *ngIf="isLoaded()"
    >
        <vs-layout>
            <div content>
                <vs-grid [options]="tratamentoTermicoGridOptions" />
                <vs-grid [options]="tratamentoTermicoPecasGridOptions" />
            </div>
        </vs-layout>
    </div>
</vs-tabs-view-template>