<vs-dialog>
  <vs-label title label="Configuracoes.AcaoPreventivaEditor.Title"></vs-label>
  <div content>
    <form [formGroup]="form" *ngIf="loaded">
      <vs-input
        [formControlName]="formControls.descricao"
        [required]="true"
        placeholder="Configuracoes.AcaoPreventivaEditor.Descricao"
      ></vs-input>
      <admin-user-autocomplete-select
        *ngIf="acaoPreventiva"
        [formControlName]="formControls.idResponsavel"
        placeholder="Configuracoes.AcaoPreventivaEditor.nomeResponsavel"
      >
      </admin-user-autocomplete-select>
      <vs-textarea
        [rows]="5"
        [formControlName]="formControls.detalhamento"
        placeholder="Configuracoes.AcaoPreventivaEditor.Detalhamento"
      ></vs-textarea>
    </form>
  </div>
  <div footer>
    <vs-button
      type="save"
      label="Configuracoes.AcaoPreventivaEditor.Salvar"
      [disabled]="!canSave()"
      (clickEvent)="save()"
    ></vs-button>
    <div fxFlex="auto" *ngIf="processando">
      <vs-spinner diameter="25"></vs-spinner>
    </div>
  </div>
</vs-dialog>
