:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  ::ng-deep {
    vs-grid {
      flex: auto;
      min-height: 300px;
    }
  }
}

vs-file-upload-grid {
  display: flex;
  flex: auto;
  height: 100%;
}
