@viasoft:registry=https://proget.korp.com.br/npm/viasoft-sdk-frontend/
registry=https://registry.npmjs.org/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=247EB154-8A23-4964-AB56-7E4EA9DC53E3