:host {
  display: flex;
  flex-direction: column;

  ::ng-deep{
    vs-grid{
      flex: auto;
      min-height: 300px
    }
    mat-tab-group.mat-tab-group > div.mat-tab-body-wrapper{
      flex: auto
    }

  }
}
