:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep{
    vs-grid{
      flex: auto;
      min-height: 300px
    }
    mat-tab-group.mat-tab-group > div.mat-tab-body-wrapper{
      flex: auto
    }
  }
}

.fix-margin{
  margin: 0
}
.fix-grid-width{
  width: 100%;
}

.height-100{
  height: 100%;
}

div.mat-tab-group {
  width: 100%;
}
div > vs-select.margin-left-6 {
  margin-left: 6px;
}
