mat-form-field:has(mat-chip-grid) {
  --mat-form-field-container-vertical-padding: 0;
  --mdc-filled-text-field-container-color: none;
  --mat-form-field-hover-state-layer-opacity: 0;
  --mat-form-field-focus-state-layer-opacity: 0;
  --mat-form-field-container-height: 30px;
  .mdc-line-ripple {
    display: none;
  }
  .mat-mdc-text-field-wrapper {
    border-radius: 0;
    input.mat-mdc-chip-input {
      height: var(--mat-form-field-container-height) !important;
    }
  }
}

mat-button-toggle-group {
  --mat-standard-button-toggle-selected-state-text-color: #fff !important;
  --mat-standard-button-toggle-selected-state-background-color: #627789 !important;

  .mat-button-toggle-appearance-standard.mat-button-toggle-disabled.mat-button-toggle-checked {
    background-color: var(--mat-standard-button-toggle-selected-state-background-color);
    color: var(--mat-standard-button-toggle-selected-state-text-color);
  }
}

vs-header.nav-mode header > [actions] {
    vs-checkbox {
        mat-checkbox {
            margin: 0;
        }
        .mdc-checkbox__checkmark, .mdc-checkbox__checkmark .mdc-checkbox__checkmark-path {
            color: var(--mdc-checkbox-selected-checkmark-color) !important;
        }
    }
    vs-select {
        >vs-label,
        .mdc-notched-outline,
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }

        .mat-mdc-text-field-wrapper {
            border-bottom: 1px solid gainsboro;
        }

        .mat-mdc-select-arrow-wrapper {
            padding-left: 0.5rem;
        }
    }
}
