@use '@angular/material' as mat;
@use "@viasoft/theming/config" as config;
@import "@viasoft/theming/use-theme";
@import './angular-material';

@include useTheme();
@include mat.tabs-theme(config.$vs-theme);
@include mat.chips-theme(config.$vs-theme);

// Aplica cor no header para indicar filtros
vs-header.nav-mode header > [actions] vs-button.possuiFiltros, vs-header.nav-mode header > [actions] vs-button.possuiFiltros > button, vs-header.nav-mode header > [actions] vs-button.possuiFiltros > button * {
  font-weight: 500 !important;
  color: rgba(1, 112, 254, 0.5) !important;
}
