@import '~@viasoft/theming/use-theme';
@include useTheme();

// Aplica cor no header para indicar filtros
vs-header.nav-mode header > [actions] vs-button.possuiFiltros, vs-header.nav-mode header > [actions] vs-button.possuiFiltros > button, vs-header.nav-mode header > [actions] vs-button.possuiFiltros > button * {
  font-weight: 500 !important;
  color: rgba(1, 112, 254, 0.5) !important;
}
