<vs-dialog>
  <vs-label title label="Configuracoes.NaturezaEditor.Title"></vs-label>
  <div content>
    <form [formGroup]="form" *ngIf="loaded">
      <vs-input
        [formControlName] ="formControls.descricao"
        [required]="true"
        placeholder="Configuracoes.NaturezaEditor.Descricao"
      ></vs-input>
    </form>
  </div>
  <div footer>
    <vs-button type="save" label="Configuracoes.NaturezaEditor.Salvar" [disabled]="!canSave()" (clickEvent)="save()"></vs-button>
    <div fxFlex="auto" *ngIf="processando">
      <vs-spinner diameter="25"></vs-spinner>
    </div>
  </div>
</vs-dialog>

